/* Base */
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

:root {
  --color-orange: #FF5C00;
  --color-beige: #EAE0D5;
  --color-gray: #D9D9D9;
  --color-green: #198754;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  position: relative;
  background-color: #000;
  color: #fff;
  font-family: "Inter", sans-serif;
  max-width: 100%;
}

@font-face {
  font-family: "Kenia";
  src: url("./../fonts/Kenia-Regular.ttf") format("woff2");
}
@font-face {
  font-family: "Roadkill";
  src: url("./../fonts/Roadkill Heavy.otf") format("woff2");
}
.none {
  display: none !important;
}

.no-scroll {
  overflow-y: hidden;
}

/* Blocks */
.mainScreen {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  position: relative;
  -webkit-animation: section 0.5s ease-in forwards;
          animation: section 0.5s ease-in forwards;
}
.mainScreen-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 110px;
     -moz-column-gap: 110px;
          column-gap: 110px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.mainScreen .join {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.mainScreen .join .txt {
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  font-family: "Roadkill";
}
.mainScreen .join .txt::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  font-family: "Inter";
}
.mainScreen .join .txt::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  font-family: "Inter";
}
.mainScreen .join .txt:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  font-family: "Inter";
}
.mainScreen .join .txt::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  font-family: "Inter";
}
.mainScreen .join .txt::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  font-family: "Inter";
}
.mainScreen .join .line {
  height: 3px;
  max-width: 355px;
  background: #fff;
  margin: 10px 0;
}
.mainScreen .join .btn {
  margin-top: 10px;
}
.mainScreen .scull {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 40px;
  color: rgb(0, 0, 0);
  font-family: "Kenia";
  font-size: 128px;
  font-weight: 400;
  line-height: 128px;
  text-align: center;
  max-width: 570px;
}
.mainScreen .create {
  margin-top: 60px;
}
.mainScreen .btn {
  color: #fff;
  font-size: 26px;
  font-weight: 500;
  text-align: center;
  padding: 18px 32px;
  border-radius: 58px;
  background: rgb(255, 92, 0);
  border: 2px var(--color-orange) solid;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.mainScreen .btn:hover {
  background: transparent;
}

.connect {
  position: relative;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-animation: section 0.5s ease-in forwards;
          animation: section 0.5s ease-in forwards;
}
.connect-info h2 {
  color: rgb(255, 255, 255);
  font-size: 36px;
  font-weight: 400;
}
.connect-info .link {
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 36px;
  font-weight: 400;
  width: 100%;
  max-width: 750px;
  margin-top: 78px;
  text-align: center;
  padding-bottom: 14px;
}
.connect-info .link .copy {
  position: absolute;
  right: 0;
  cursor: pointer;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transition: -webkit-transform 0.15s ease-in;
  transition: -webkit-transform 0.15s ease-in;
  transition: transform 0.15s ease-in;
  transition: transform 0.15s ease-in, -webkit-transform 0.15s ease-in;
}
.connect-info .link .copy-active {
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
}
.connect-info .link:after {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background: #fff;
  position: absolute;
  bottom: 0;
}
.connect-info .link .checkmark {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(calc(-50% - 7px)) rotateY(90deg);
          transform: translateY(calc(-50% - 7px)) rotateY(90deg);
  -webkit-transition: -webkit-transform 0.15s ease-in;
  transition: -webkit-transform 0.15s ease-in;
  transition: transform 0.15s ease-in;
  transition: transform 0.15s ease-in, -webkit-transform 0.15s ease-in;
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
  cursor: pointer;
}
.connect-info .link .checkmark:after {
  content: "";
  display: block;
  height: 4px;
  width: 15px;
  border-radius: 8px;
  background: transparent;
  position: absolute;
  top: 55%;
  left: 8%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.connect-info .link .checkmark:before {
  content: "";
  display: block;
  height: 4px;
  width: 30px;
  border-radius: 8px;
  background: transparent;
  position: absolute;
  top: 45%;
  left: 26%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.connect-info .link .checkmark-active {
  -webkit-transform: translateY(calc(-50% - 7px)) rotateY(0deg);
          transform: translateY(calc(-50% - 7px)) rotateY(0deg);
}
.connect-info .link .checkmark-active:after, .connect-info .link .checkmark-active:before {
  background: var(--color-green);
}
.connect-info .people {
  margin-top: 38px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 400;
}
.connect-info .start {
  border: 3px solid rgba(25, 135, 84, 0.7);
  border-radius: 15px;
  background: transparent;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 400;
  margin-top: 50px;
  padding: 17px 30px;
  -webkit-transition: background 0.15s ease-in;
  transition: background 0.15s ease-in;
}
.connect-info .start:hover {
  background: rgba(25, 135, 84, 0.7);
}
.connect-info .waiting {
  margin-top: 50px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 400;
  border-top: 3px solid rgb(255, 255, 255);
  border-bottom: 3px solid rgb(255, 255, 255);
  width: 287px;
  padding: 7px 0;
  text-align: center;
}

.section-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.darkFon {
  position: relative;
  border-radius: 40px;
  background: rgba(0, 0, 0, 0.8);
  padding: 87px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 1200px;
}

.section-h2 {
  color: rgb(0, 0, 0);
  font-size: 28px;
  font-weight: 400;
  border-radius: 30px;
  background: rgb(217, 217, 217);
  padding: 12px 32px;
  display: inline-block;
  position: absolute;
  top: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.return {
  padding: 8px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
  background: rgb(217, 217, 217);
  position: absolute;
  bottom: 45px;
  left: 45px;
  -webkit-transition: border-radius 0.3s ease-in;
  transition: border-radius 0.3s ease-in;
}
.return img {
  width: 40px;
}
.return:hover {
  border-radius: 10px;
}

.info {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: rgb(217, 217, 217);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 45px;
  right: 45px;
}
.info img {
  width: 50px;
}

@-webkit-keyframes copy {
  0% {
    bottom: -50px;
  }
  50% {
    bottom: 50px;
  }
  100% {
    bottom: -50px;
  }
}

@keyframes copy {
  0% {
    bottom: -50px;
  }
  50% {
    bottom: 50px;
  }
  100% {
    bottom: -50px;
  }
}
@-webkit-keyframes section {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes section {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.history {
  position: relative;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-animation: section 0.5s ease-in forwards;
          animation: section 0.5s ease-in forwards;
}
.history .darkFon {
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  padding: 50px;
}

.next {
  padding: 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
  background: rgb(217, 217, 217);
  position: absolute;
  bottom: 25px;
  right: 25px;
  -webkit-transition: border-radius 0.3s ease-in;
  transition: border-radius 0.3s ease-in;
}
.next:hover {
  border-radius: 10px;
}

.prev {
  padding: 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
  background: rgb(217, 217, 217);
  position: absolute;
  bottom: 25px;
  left: 25px;
  -webkit-transition: border-radius 0.3s ease-in;
  transition: border-radius 0.3s ease-in;
}
.prev img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.prev:hover {
  border-radius: 10px;
}

.catastrophe, .bunker {
  position: relative;
  height: 100vh;
  width: 100%;
  padding: 0 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-animation: section 0.5s ease-in forwards;
          animation: section 0.5s ease-in forwards;
}
.catastrophe .darkFon, .bunker .darkFon {
  padding: 50px;
  max-width: 100%;
}
.catastrophe .darkFon-h2, .bunker .darkFon-h2 {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 400;
  border-radius: 30px;
  background: rgb(189, 181, 172);
  padding: 12px 32px;
  display: inline-block;
}
.catastrophe .darkFon-wrapper, .bunker .darkFon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  width: 100%;
}
.catastrophe .txt, .bunker .txt {
  padding: 15px;
  border-radius: 20px;
  background: rgba(234, 224, 213, 0.8);
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  max-width: 810px;
}
.catastrophe .details, .bunker .details {
  max-width: 688px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 50px;
}
.catastrophe .clarification, .catastrophe .inform, .bunker .clarification, .bunker .inform {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  padding: 15px 25px;
  border-radius: 20px;
  background: rgba(234, 224, 213, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.bunker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 40px;
}
.bunker .details {
  max-width: 620px;
}
.bunker .darkFon {
  padding: 30px;
}
.bunker .darkFon15 {
  padding: 20px;
}
.bunker .darkFon-wrapper {
  margin-top: 0;
}
.bunker .points {
  max-width: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 32px;
}
.bunker .points img {
  width: 55px;
}
.bunker .chairs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bunker .kol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 6px;
     -moz-column-gap: 6px;
          column-gap: 6px;
  margin-top: 10px;
}
.bunker .kol img {
  width: 20px;
}
.bunker .kol .site-wrap {
  background: #fff;
  border-radius: 50%;
  padding: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bunker .radiation {
  -webkit-transform: rotate(-120deg);
          transform: rotate(-120deg);
}
.bunker .descr {
  border-radius: 30px;
  background: rgba(234, 224, 213, 0.8);
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  padding: 22px;
}

.game {
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-animation: section 0.5s ease-in forwards;
          animation: section 0.5s ease-in forwards;
}
.game .section-h2 {
  top: 25px;
}
.game .cards {
  position: relative;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-animation: section 0.5s ease-in forwards;
          animation: section 0.5s ease-in forwards;
}
.game .cards .darkFon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 54px;
  -webkit-column-gap: 48px;
     -moz-column-gap: 48px;
          column-gap: 48px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1770px;
  padding: 30px 20px;
}
.game .cards .Down {
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
  -webkit-animation: arrow 1.5s linear infinite;
          animation: arrow 1.5s linear infinite;
}
.game .cards .down {
  position: absolute;
  bottom: 25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 320px;
  height: 8px;
  background: var(--color-beige);
  border-radius: 6px;
  -webkit-animation: line 2.5s linear infinite;
          animation: line 2.5s linear infinite;
}
.game .cards .prev {
  right: 25px;
  top: 25px;
  left: auto;
  bottom: auto;
}
.game .sequel {
  padding: 50px 90px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(31.5%, rgb(10, 10, 12)), to(rgb(0, 64, 86)));
  background: linear-gradient(180deg, rgb(10, 10, 12) 31.5%, rgb(0, 64, 86) 100%);
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
}

@-webkit-keyframes arrow {
  0% {
    bottom: 0px;
  }
  50% {
    bottom: -10px;
  }
  100% {
    bottom: 0px;
  }
}

@keyframes arrow {
  0% {
    bottom: 0px;
  }
  50% {
    bottom: -10px;
  }
  100% {
    bottom: 0px;
  }
}
@-webkit-keyframes line {
  0% {
    width: 300px;
  }
  50% {
    width: 340px;
  }
  100% {
    width: 300px;
  }
}
@keyframes line {
  0% {
    width: 300px;
  }
  50% {
    width: 340px;
  }
  100% {
    width: 300px;
  }
}
.personCard {
  position: relative;
  width: 212px;
  height: 320px;
  border-radius: 20px;
  background: rgb(222, 213, 202);
  text-align: center;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.personCard-close {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.personCard .front {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.personCard .back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(222, 213, 202);
  border-radius: 20px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 50px;
}
.personCard .back img {
  margin: 0 0;
}
.personCard .back button {
  border: 2px solid #000;
  border-radius: 10px;
  background: transparent;
  padding: 8px 14px;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  -webkit-transition: all 0.05s ease-in;
  transition: all 0.05s ease-in;
}
.personCard .back button:hover {
  background: #fff;
}
.personCard .category {
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
}
.personCard .line {
  width: 100%;
  height: 3px;
  background: #000;
}
.personCard img {
  height: 100px;
  margin: 48px auto;
}
.personCard .title {
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-weight: 700;
  margin-top: 12px;
}

.preloader-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background: -webkit-gradient(linear, right top, left top, from(#000000), to(#1e242c));
  background: linear-gradient(to left, #000000, #1e242c);
  -webkit-animation: section 0.4s ease-in forwards;
          animation: section 0.4s ease-in forwards;
}

.preloader {
  position: relative;
  width: 100px;
  height: 100px;
}

.circle {
  width: 22px;
  height: 22px;
  background-color: var(--color-orange);
  border-radius: 50%;
  position: absolute;
  -webkit-animation: bounce 1.5s infinite ease-in-out;
          animation: bounce 1.5s infinite ease-in-out;
}

.circle1 {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
  top: 0;
  left: 0;
}

.circle2 {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
  top: 0;
  right: 0;
}

.circle3 {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
  bottom: 0;
  right: 0;
}

.circle4 {
  bottom: 0;
  left: 0;
}

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}
.error {
  position: relative;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-animation: section 0.5s ease-in forwards;
          animation: section 0.5s ease-in forwards;
}
.error-container {
  font-size: 106px;
  font-family: "Catamaran", sans-serif;
  font-weight: 800;
  margin-top: 100px;
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.error h1 {
  font-size: 110px;
  color: var(--color-orange);
  text-transform: uppercase;
  font-family: "Roadkill";
  font-weight: 800;
  letter-spacing: 5px;
}
.error .zoom-area {
  max-width: 600px;
  font-size: 26px;
  text-align: center;
  margin-top: 10px;
  font-family: "Roadkill";
}

.error-container > span {
  display: inline-block;
  position: relative;
}

.error-container > span.four {
  width: 136px;
  height: 43px;
  border-radius: 999px;
  background: linear-gradient(140deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.07) 43%, transparent 44%, transparent 100%), linear-gradient(105deg, transparent 0%, transparent 40%, rgba(0, 0, 0, 0.06) 41%, rgba(0, 0, 0, 0.07) 76%, transparent 77%, transparent 100%), linear-gradient(to right, #d89ca4, #e27b7e);
  margin-top: 26px;
}

.error-container > span.four:before,
.error-container > span.four:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 999px;
}

.error-container > span.four:before {
  width: 43px;
  height: 156px;
  left: 60px;
  bottom: -43px;
  background: linear-gradient(128deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.07) 40%, transparent 41%, transparent 100%), linear-gradient(116deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.07) 50%, transparent 51%, transparent 100%), linear-gradient(to top, #99749D, #B895AB, #CC9AA6, #D7969E, #E0787F);
}

.error-container > span.four:after {
  width: 137px;
  height: 43px;
  -webkit-transform: rotate(-49.5deg);
          transform: rotate(-49.5deg);
  left: -18px;
  bottom: 36px;
  background: -webkit-gradient(linear, left top, right top, from(#99749D), color-stop(#B895AB), color-stop(#CC9AA6), color-stop(#D7969E), to(#E0787F));
  background: linear-gradient(to right, #99749D, #B895AB, #CC9AA6, #D7969E, #E0787F);
}

.error-container > span.zero {
  vertical-align: text-top;
  width: 156px;
  height: 156px;
  border-radius: 999px;
  background: linear-gradient(-45deg, transparent 0%, rgba(0, 0, 0, 0.06) 50%, transparent 51%, transparent 100%), linear-gradient(to top right, #99749D, #99749D, #B895AB, #CC9AA6, #D7969E, #ED8687, #ED8687);
  overflow: hidden;
  -webkit-animation: bgshadow 5s infinite;
          animation: bgshadow 5s infinite;
}

.error-container > span.zero:before {
  content: "";
  display: block;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 90px;
  height: 90px;
  background-color: transparent;
  left: 0px;
  bottom: 0px;
  background: linear-gradient(95deg, transparent 0%, transparent 8%, rgba(0, 0, 0, 0.07) 9%, transparent 50%, transparent 100%), linear-gradient(85deg, transparent 0%, transparent 19%, rgba(0, 0, 0, 0.05) 20%, rgba(0, 0, 0, 0.07) 91%, transparent 92%, transparent 100%);
}

.error-container > span.zero:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 999px;
  width: 70px;
  height: 70px;
  left: 43px;
  bottom: 43px;
  background: #FDFAF5;
  -webkit-box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, 0.1);
          box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.screen-reader-text {
  position: absolute;
  top: -9999em;
  left: -9999em;
}

@-webkit-keyframes bgshadow {
  0% {
    -webkit-box-shadow: inset -160px 160px 0px 5px rgba(0, 0, 0, 0.4);
            box-shadow: inset -160px 160px 0px 5px rgba(0, 0, 0, 0.4);
  }
  45% {
    -webkit-box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
            box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
  }
  55% {
    -webkit-box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
            box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
  }
  100% {
    -webkit-box-shadow: inset 160px -160px 0px 5px rgba(0, 0, 0, 0.4);
            box-shadow: inset 160px -160px 0px 5px rgba(0, 0, 0, 0.4);
  }
}

@keyframes bgshadow {
  0% {
    -webkit-box-shadow: inset -160px 160px 0px 5px rgba(0, 0, 0, 0.4);
            box-shadow: inset -160px 160px 0px 5px rgba(0, 0, 0, 0.4);
  }
  45% {
    -webkit-box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
            box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
  }
  55% {
    -webkit-box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
            box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
  }
  100% {
    -webkit-box-shadow: inset 160px -160px 0px 5px rgba(0, 0, 0, 0.4);
            box-shadow: inset 160px -160px 0px 5px rgba(0, 0, 0, 0.4);
  }
}
.logo {
  padding: 8px 12px;
  background-color: var(--color-gray);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 25px;
  top: 25px;
  color: rgb(39, 37, 37);
  font-size: 22px;
  font-weight: 400;
  border-radius: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.logo img {
  width: 45px;
}

.tab {
  border-radius: 10px;
  background: rgb(222, 213, 202);
  width: 187px;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 400;
  border: 3px rgb(222, 213, 202) solid;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
.tab:hover {
  background: rgba(0, 0, 0, 0.5);
  color: rgb(222, 213, 202);
}

.tabs-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 34px;
  margin: 0 auto;
  max-width: 1322px;
  padding: 0 15px;
  position: relative;
}

.tabs-cards {
  position: relative;
  padding: 32px;
}

.personCard-wrapper {
  position: relative;
  margin: 0 auto;
  margin-top: 32px;
}

.personCard-wrapper > .darkFon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 54px;
  -webkit-column-gap: 48px;
     -moz-column-gap: 48px;
          column-gap: 48px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1770px;
  padding: 30px 20px;
}/*# sourceMappingURL=main.css.map */