.connect {
    position: relative;
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    animation: section 0.5s ease-in forwards;

    &-info {
        h2 {
            color: rgb(255, 255, 255);
            font-size: 36px;
            font-weight: 400;
        }

        .link {
            position: relative;
            color: rgb(255, 255, 255);
            font-size: 36px;
            font-weight: 400;

            width: 100%;
            max-width: 750px;
            margin-top: 78px;
            text-align: center;
            padding-bottom: 14px;

            .copy {
                position: absolute;
                right: 0;
                cursor: pointer;
                transform: rotateY(0deg);
                transition: transform 0.15s ease-in;

                &-active {
                    transform: rotateY(90deg);
                }
            }

            &:after {
                content: "";
                display: block;
                height: 4px;
                width: 100%;
                background: #fff;

                position: absolute;
                bottom: 0;
            }

            .checkmark {
                width: 40px;
                height: 40px;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(calc(-50% - 7px)) rotateY(90deg);
                transition: transform 0.15s ease-in;
                transition-delay: 0.15s;
                cursor: pointer;

                &:after {
                    content: "";
                    display: block;
                    height: 4px;
                    width: 15px;
                    border-radius: 8px;
                    background: transparent;
                    position: absolute;
                    top: 55%;
                    left: 8%;
                    transform: rotate(45deg);
                    transition: all 0.2s ease-in;
                }
                &:before {
                    content: "";
                    display: block;
                    height: 4px;
                    width: 30px;
                    border-radius: 8px;
                    background: transparent;
                    position: absolute;
                    top: 45%;
                    left: 26%;
                    transform: rotate(-45deg);
                    transition: all 0.2s ease-in;
                }
            }

            .checkmark-active {
                transform: translateY(calc(-50% - 7px)) rotateY(0deg);
                &:after, &:before {
                    background: var(--color-green);
                }
            }
        }

        .people {
            margin-top: 38px;
            color: rgb(255, 255, 255);
            font-size: 20px;
            font-weight: 400;
        }

        .start {
            border: 3px solid rgba(25, 135, 84, 0.7);
            border-radius: 15px;
            background: transparent;
            color: rgb(255, 255, 255);
            font-size: 20px;
            font-weight: 400;
            margin-top: 50px;
            padding: 17px 30px;
            transition: background 0.15s ease-in;

            &:hover {
                background: rgba(25, 135, 84, 0.7);
            }
        }


        .waiting {
            margin-top: 50px;
            color: rgb(255, 255, 255);
            font-size: 20px;
            font-weight: 400;
            border-top: 3px solid rgb(255, 255, 255);
            border-bottom: 3px solid rgb(255, 255, 255);
            width: 287px;
            padding: 7px 0;
            text-align: center;
        }
    }
}

.section-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.darkFon {
    position: relative;
    border-radius: 40px;
    background: rgba(0, 0, 0, 0.8);
    padding: 87px 0;

    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
}

.section-h2 {
    color: rgb(0, 0, 0);
    font-size: 28px;
    font-weight: 400;
    border-radius: 30px;
    background: rgb(217, 217, 217);
    padding: 12px 32px;

    display: inline-block;

    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.return {
    padding: 8px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: rgb(217, 217, 217);

    position: absolute;
    bottom: 45px;
    left: 45px;
    transition: border-radius 0.3s ease-in;

    img {
        width: 40px;
    }

    &:hover {
        border-radius: 10px;
    }
}

.info {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: rgb(217, 217, 217);

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 45px;
    right: 45px;

    img {
        width: 50px;
    }
}

@keyframes copy {
    0% {
        bottom: -50px;
    }
    50% {
        bottom: 50px;
    }
    100% {
        bottom: -50px;
    }
}

@keyframes section {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}