.mainScreen {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    position: relative;

    animation: section 1s ease-in forwards;

    &-img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    &-wrapper {
        position: relative;

        display: flex;
        justify-content: center;
        column-gap: 110px;
        align-items: center;
        height: 100%;
    }

    .join {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .txt {
            color: rgba(255, 255, 255, 0.7);
            font-size: 20px;
            font-weight: 400;
            text-align: center;

            &::placeholder {
                color: rgba(255, 255, 255, 0.7);
                font-size: 20px;
                font-weight: 400;
                text-align: center;
            }
        }

        .line {
            height: 3px;
            max-width: 355px;
            background: #fff;
            margin: 10px 0;
        }

        .btn {
            margin-top: 10px;
        }
    }

    .scull {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
        color: rgb(0, 0, 0);
        font-family: "Kenia";
        font-size: 128px;
        font-weight: 400;
        line-height: 128px;
        text-align: center;
        max-width: 570px;
    }

    .create {
        margin-top: 60px;
    }

    .btn {
        color: #fff;
        font-size: 26px;
        font-weight: 500;
        text-align: center;
        padding: 18px 32px;
        border-radius: 58px;
        background: rgb(255, 92, 0);
        border: 2px var(--color-orange) solid;
        transition: all 0.1s linear;

        &:hover {
            background: transparent;
        }
    }
}

// Logo
.logo {
    padding: 10px 15px;
    background-color: var(--color-gray);
    display: flex;
    column-gap: 16px;
    align-items: center;

    position: absolute;
    left: 20px;
    top: 34px;

    color: rgb(39, 37, 37);
    font-size: 28px;
    font-weight: 400;
    border-radius: 20px;

    img {
        width: 54px;
    }
}