.preloader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to left, #000000, #1e242c); 
    animation: section 0.4s ease-in forwards;
  }
  
  .preloader {
    position: relative;
    width: 100px;
    height: 100px;
  }
  
  .circle {
    width: 22px;
    height: 22px;
    background-color: var(--color-orange);
    border-radius: 50%;
    position: absolute;
    animation: bounce 1.5s infinite ease-in-out;
  }
  
  .circle1 {
    animation-delay: -0.6s;
    top: 0;
    left: 0;
  }
  
  .circle2 {
    animation-delay: -0.4s;
    top: 0;
    right: 0;
  }
  
  .circle3 {
    animation-delay: -0.2s;
    bottom: 0;
    right: 0;
  }
  
  .circle4 {
    bottom: 0;
    left: 0;
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
  }